*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.navbar{
  width: 100%;
  height: 35px;
  background-color: black;
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar .items{
  width: max-content;
  margin: auto;
  user-select: none;
  transition: 0.3s ease;
}

.navbar .items a:hover{
  color: springgreen;
}

ul{
  float: left;
  display: flex; /* flexbox -> allows for flexing of items in the menu */
}

ul li{
  font-size: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 31px;
  padding-right: 31px;
  list-style: none; /* removes bullet points from menu items */
}

ul li a{
  text-decoration: none; /* removes underline from menu items */
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s ease;
  user-select: none;
}

/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
}

.landing-text{
  color: springgreen;
  font-size: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  user-select: none;
}

#about{
  width: 100%;
  background: rgb(0,255,127);
  background: radial-gradient(circle, rgba(0,255,127,1) 0%, rgba(0,0,0,1) 100%);
  justify-content: center;
}

#about h1{
  color: black;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
}

#about p{
  color: black;
  width: 60%;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  margin-top: 25px;
  padding-bottom: 60px;
}


#skills{
  width: 100%;
  height: min-content;
  background-color: black;
  padding-bottom: 65px;
}

#skills h1{
  color: springgreen;
  font-family: Arial;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.skills-container{
  width: min-content;
  height: min-content;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 25px;
  outline: 2px solid springgreen;
}

.skill{
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  height: min-content;
  margin: auto;
}

.skill ul{
  list-style: none;
  width: 100%;
  margin: auto;
  margin-top: 25px;
  justify-content: space-evenly;
}

.skill img{
  height: 75px;
  margin-left: 10px;
}

#skills a{
  background-color: springgreen;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 25px;
  transition: 0.5s ease;
  user-select: none;
}

#skills a:hover{
  background: rgb(0,255,127);
  background: radial-gradient(circle, rgba(0,255,127,1) 0%, rgb(11, 211, 221) 100%); 
  cursor: pointer;
}
