*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    background: black;
    width: 100%;
    height: 50px;
}

.logo{
    color: darkgoldenrod;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 75px;
    float: left;
}

.menu{
    height: 50px;
    width: max-content;
    margin: auto;
}

ul{
    float: left;
    display: flex; /* flexbox -> allows for flexing of items in the menu */
}

ul li{
    font-size: 14px;
    margin-top: 17px;
    margin-left: 31px;
    margin-right: 31px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{ /* hover effect -> changes menu item text to match logo color when hovered over */
    color: darkgoldenrod; 
    transition: 0.4s ease-in-out;
}

.content{
    color: white;
}

.about h1{
    color: darkgoldenrod;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    width: max-content;
    margin: auto;
    margin-top: 75px;
}

.about p{
    font-size: 20px;
    font-family: Arial;
    width: max-content;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    outline: 1px solid darkgoldenrod;
}

.connect h1{
    color: darkgoldenrod;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
    width: max-content;
    margin: auto;
    margin-top: 50px;
}

.connect p{
    font-size: 20px;
    font-family: Arial;
    width: max-content;
    padding: 15px;
    padding-bottom: 60px;
    margin: auto;
    margin-top: 10px;
    outline: 1px solid darkgoldenrod;
}

.social {
    width: max-content;
    margin: auto;
    margin-top: -45px;
}

.social ion-icon{
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

.social ion-icon:hover{
    color: darkgoldenrod;
    transition: 0.3s ease-in-out;
}
